<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cal_style.css') }}">
</head>
<body>
	<nav id="sticky">
		<a href="">My Account</a>
		<a href="">My Houses</a>
		<a href="">Maintence Requests</a>
		<a href="/Logout">Logout</a>
	</nav>
	<h1 class="dash">Dashboard</h1>
	<main>
		<div id="left_side">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio enim vel recusandae neque ex illum blanditiis, ipsam eveniet fugiat laborum ratione. Ab similique nihil libero quibusdam quia voluptatibus fuga! Dolore.</p>
			
		</div>
		<div id="Calender">
			<h4>Open days</h4>
			<div class="calender">
				<table>
					<thead>
						<tr>
							<th>Sunday</th>
							<th>Monday</th>
							<th>Tuesday</th>
							<th>Wednesday</th>
							<th>Thursday</th>
							<th>Friday</th>
							<th>Saturday</th>
						</tr>
					</thead>
					<tbody id="table_body">
						{% for row in calendar_rows %}
						<tr>
							{% for day in row %}
							<td{% if day.booked %} class="booked"{% endif %}>{{ day.date }}</td>	
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<footer>
	
	</footer>
</body>
</html>